.control {
  margin-bottom: 8px;

  .label {
    font-size: 15px;
  }

  .value {
    input, select {
      color: white;
      padding: 6px 8px;
      font-size: 14px;
      width: 100%;

      background: #373737;
      border: 0;

      border-bottom: 2px solid #555;

      margin: 6px 0;

      &:focus {
        outline: 0;
        border-bottom: 2px solid #888;
      }
    }

    select {
      option {
        background: #222;
      }
    }
  }
}
